*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: blue;
}

.search {
    
    margin-left: 600px;
    
}


.container{
    padding: 20px 70px;
    color: white;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container .time{
    font-size: 70px;
    font-weight: 100;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 12px;
    font-weight: 700;
}   

.current-info .others{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27,0.6);
    padding:20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid white;
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.future-forecast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .today{
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 220px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
}

.future-forecast .today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: large;
    padding-top: 15px;
}
.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding:15px;
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
}

@media only screen and (max-width:730px){

    .container{
        padding:20px;
    }

    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}

@media only screen and (max-width:1000px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}

.navbar {
    background-color: blue;
    display:flex;
    justify-content: center;
}

h1 {
    font-size: 36px;

}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

.container {
    margin-rig: 350px;

}

.col-sm-8 {
    float:right;
    margin-right: 100px;


}